@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("metro.jpg");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  color: aliceblue;
  user-select: none;
}

.container {
  border-bottom: 2px solid rgb(239, 235, 235);
  border-left: 2px solid rgb(239, 235, 235);
  max-width: 800px;
  margin: 100px auto;
  border-radius: 20px;
  padding: 30px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  background-color: #641b227c;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  font-family: "Roboto", sans-serif;
  padding: 15px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 20px;
  cursor: pointer;
}

#increment-btn {
  background: #2e4257;
}

#save-btn {
  background: #cf9031;
}
#save-el {
  margin-top: 20px;
}
