@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom,
    #05061e,
    #250146
  ); /* Dark blue to dark purple gradient */

  color: whitesmoke;
}
h1 {
  font-size: 34px;
}
h3 {
  font-size: 24px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.top-btns-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  font-family: "Crete Round", serif;
  font-size: 16px;
  padding: 15px 45px;
  border: 0;
  background-color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 6px;
}
button:hover {
  background-color: rgb(104, 38, 154);
  color: whitesmoke;
}
.two-cards-btn {
  font-size: 20px;
  width: 100%;
}

.cards-remaining {
  font-size: 20px;
  font-weight: bold;
  color: rgb(192, 113, 253);
  padding: 15px;
  border-radius: 6px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards-wrapper p {
  margin-bottom: 10px;
}

.card {
  width: 200px;
  height: 280px;
}

.disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

/* Media queries for tablets */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 20px;
  }

  .cards {
    gap: 20px;
  }

  .card {
    width: 150px;
    height: 220px;
  }
}

/* Media queries for mobiles */
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 10px;
  }

  .cards {
    gap: 10px;
  }

  .card {
    width: 120px;
    height: 180px;
  }

  button {
    font-size: 14px;
  }
}
