html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  background-color: #fef3c7;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

img {
  width: 150px;
  margin: 0 auto;
}

input {
  color: #292828;
  background-color: #d6d6dc;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 10px 0;
}

button {
  color: #fff;
  background-color: #f17e81;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  transition: all ease-in-out 0.3s;
}

button:hover {
  background-color: #b44e52;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  color: #1e1e1e;
  font-size: 20px;
  background-color: #ddd6fe;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.3s;
}

ul li:hover {
  background-color: #c4b5fd;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
