* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: whitesmoke;
  user-select: none;
  text-align: center;
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: 18px;
  background: url("assets/warcraft.jpeg") no-repeat 0 0 / cover;
}

/* Typography */
h1,
p {
  color: greenyellow;
  transition: all ease-in-out 1s;
}

h1:hover,
p:hover {
  color: whitesmoke;
  transition: all ease-in-out 1s;
}

span {
  display: block;
  margin: 10px 0;
}

h2 {
  text-align: center;
  transition: all ease-in-out 1s;
}

h2:hover {
  color: greenyellow;
  transition: all ease-in-out 1s;
}

/* Main */

main {
  margin-bottom: 200px;
}
.container-wrapper {
  width: 1400px;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 10px;
  margin-right: 10%;
}

.right-side {
  width: 45%;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input-wrapper input {
  width: 100%;
  font-weight: 700;
}
.input-wrapper input:focus-visible {
  background-color: rgba(172, 255, 47, 0.159);
}

.inputField {
  padding: 70px;
  text-align: center;
  resize: none;
}

.inputField:focus-visible {
  background-color: rgba(172, 255, 47, 0.159);
}

.input-wrapper input {
  padding: 15px;
}

.input-wrapper input::placeholder,
.inputField::placeholder {
  color: rgba(245, 245, 245, 0.473);
}

.inputField,
.input-wrapper input,
.btnSend,
.removeAll {
  background-color: rgba(0, 0, 0, 0.439);
  border: 1px solid rgba(245, 245, 245, 0.473);
  color: whitesmoke;
  transition: all ease-in-out 1s;
  border-radius: 20px;
}

a {
  text-decoration: underline;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.439);
  padding: 20px;
  border: 1px solid rgba(245, 245, 245, 0.473);
  border-radius: 20px;
  transition: all ease-in-out 1s;
}

.btnSend,
.removeAll {
  padding: 20px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.btnSend:hover,
.btnSend:focus,
.removeAll:hover,
.removeAll:focus,
a:hover {
  background-color: rgba(0, 0, 0, 0.821);
  color: greenyellow;
  transition: all ease-in-out 1s;
}

.container-messages {
  text-align: left;
  color: whitesmoke;
}

.message-wrapper {
  margin-bottom: 10px;
  border: 1px solid rgba(172, 255, 47, 0.501);
  background-color: #1e1e1e94;
  padding: 20px;
  color: rgba(245, 245, 245, 0.693);
  word-wrap: break-word;
  border-radius: 20px;
  transition: all ease-in-out 1s;
}

.message-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.821);
  color: yellowgreen;
  cursor: pointer;
}

.toSpan,
.fromSpan {
  font-weight: bold;
}

/* Footer */
.footer {
  border: 0;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  color: rgba(172, 255, 47, 0.771);
  border-bottom: 1px solid #fff;
  padding: 10px 15px;
}

/* Media Query for tablets */
@media only screen and (max-width: 768px) {
  .container-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .left-side,
  .right-side {
    width: 100%;
    margin-right: 0;
  }
}

/* Media Query for mobile devices */
@media only screen and (max-width: 480px) {
  .container-wrapper {
    max-width: 80%;
  }

  .left-side,
  .right-side {
    width: 100%;
    margin-right: 0;
  }
}
