@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c4a6e;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.firstPart {
  max-width: 620px;
  flex-grow: 1;
  margin-top: 80px;
}

.secondPart {
  max-width: 420px;
  flex-basis: 50%;
}

img {
  width: 200px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
}

input::placeholder {
  color: #1f2937;
}

input {
  color: #1f2937;
  padding: 20px 0px 150px 20px;
  width: 100%;
  resize: none;
  background-color: #e5e7eb;
  font-size: 18px;
  border-radius: 10px;
  border: 0;
}

#publish {
  color: #fff;
  width: 100%;
  display: inline-block;
  background-color: #6d28d9;
  border: 0;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  padding: 20px;
}

.endorsement-item {
  color: #1f2937;
  background-color: #e5e7eb;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}
/* 
.inputWrapper {
  display: flex;
}

#inputFrom,
#inputTo {
  margin-top: 20px;
  width: 50%;
  padding: 20px;
  text-align: center;
}

#inputFrom {
  margin-right: 10px;
} */
