@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: whitesmoke;
  text-shadow: 0px 0px 20px #1e1e1e;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

main {
  padding: 1em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1.time {
  text-align: center;
  font-size: 6.25rem;
  font-weight: 700;
}

.author-name {
  font-weight: 300;
}

.crypto-top {
  display: flex;
  align-items: center;
}

.crypto-status {
  padding-left: 0.8em;
  margin-top: 0.625em;
}

.weather-top {
  display: flex;
  align-items: center;
}

.weather-temp {
  font-size: 2.5em;
}

.weather-city {
  text-align: right;
  font-size: 2.5em;
}
